* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-align: center;
    background-color: #272727;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 16px;
}

h1 {
    font-family: 'Asul', sans-serif;
    letter-spacing: .2rem;
    font-size: 3em;
}

header {
    padding: 1.5rem;
    border-bottom: .01rem solid rgb(172, 172, 172);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.generator {

}

.description {
    padding: 1.5rem 0 1.5rem 0;
    /* border: .08rem solid red; */
}

form {
    padding: 0rem 0rem 1.5rem 0rem;
    font-size: 5rem;
}

.paragraph-number {
    width: 90%;
    border: .1rem solid rgba(0,0,0,.08);
	padding: 1rem;
    border-radius: .3rem;
    font-size: 1.2rem;
}

.paragraph-number:focus {
  outline: none;
  border-bottom: .2rem solid #999999;
}

.generate-button {
    width: 90%;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border: .1rem solid rgba(0,0,0,1);
    background-color: #494949;
}

/* -- Generated Text -- */
.generated-text {
 width: 90%;
 margin: 0 auto;

}
.placeholder-div {
    text-indent: 3rem;
    padding: 1.5rem 2rem;
}

.placeholder-div p {
    text-align: left;
    font-size: 1rem;
    color: red;
}

/* -- Copyright Text -- */
.copyright p {
    margin-top: 1rem;
    font-size: .6rem;
    color: rgb(143, 143, 143);
}
.copyright a:link,
.copyright a:visited {
    color: rgb(143, 143, 143);
    text-decoration: none;
}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}